# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.iml

# Environment files
.env
.env.*
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
backend/target/
backend/.mvn/

# Logs
*.log
logs/
